<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="esp.genericLibraries.ListenerImplimentationClass"/>
<listener class-name="esp.genericLibraries.ExtentReporterNG"/>
</listeners>
  <parameter name="browser" value="firefox 68"/>
  <test thread-count="5" name="Test">
   <classes>
      <class name="com.compensationItems.CompItemGroupsTest">
      <methods>
      <include name="submitAnexistingCompensationGroupAndVerifyErrorMessage"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


