<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="esp.genericLibraries.ListenerImplimentationClass"/>
<listener class-name="esp.genericLibraries.ExtentReporterNG"/>
</listeners>
  <parameter name="browser" value="chrome"/>
  <test thread-count="5" name="Test">
   <classes>
      <class name="com.leave.LeaveTestToyota">
      <methods>
      <include name="viewLeaveBalanceAndVerify"></include>
      </methods>
      </class>
      <!-- <class name="com.leave.LeaveTestNextgen">
      <methods>
      <include name="halfDayAbsent_HalfDayOD"></include>
      <include name="halfDayOD_HalfDayOD"></include>
      <include name="cancelHalfDayODAndVerifyAttendance"></include>
      </methods>
      </class> -->
     <!--  <class name="com.leave.LeaveTestBluestone">
      <methods>
      <include name="verifyErrorIfLeaveExist"></include>
      </methods>
      </class> -->
      <!-- <class name="com.leave.LeaveTestNextgen">
      <methods>
      <include name="halfDayAbsent_HalfDayOD"></include>
      <include name="halfDayOD_HalfDayOD"></include>
      <include name="cancelHalfDayODAndVerifyAttendance"></include>
      </methods>
      </class>  -->
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->







